{% extends 'portfolio/base.html' %}
{% load portfolio_extras %}

{% block content %}
    <h1>O Meu Portfólio de Informática</h1>

    <header style="background: #e9e3e600; padding: 10px; margin-bottom: 20px;">
        {% if user.is_authenticated %}
            <p>Olá, <strong>{{ user.username }}</strong>! | <a href="{% url 'accounts:logout' %}">Sair (Logout)</a></p>
        {% else %}
            <a href="{% url 'accounts:login' %}">Iniciar Sessão (Login)</a>
        {% endif %}
    </header>
    <hr>
    
    <p>Bem-vindo ao meu portefólio pessoal! Utilize o menu no topo para explorar os meus projetos e áreas de interesse.</p>

{% endblock content %}