{% extends 'portfolio/base.html' %}
{% load portfolio_extras %}

{% block content %}
    <h1>O Meu Portfólio de Informática</h1>

    <header style="background: #e9e3e600; padding: 10px; margin-bottom: 20px;">
        {% if user.is_authenticated %}
            <p>Olá, <strong>{{ user.username }}</strong>! | <a href="{% url 'accounts:logout' %}">Sair (Logout)</a></p>
        {% else %}
            <a href="{% url 'accounts:login' %}">Iniciar Sessão (Login)</a>
        {% endif %}
    </header>
    <hr>
    
    <section class="introducao">
        <h2>Seja bem vindo!</h2>
        <p>
            Sou estudante do curso de <strong>Informática de Gestão</strong> e este espaço é onde partilho os projetos 
            que desenvolvi ao longo do meu percurso académico.
        </p>
        <p>
            Aqui podes encontrar um resumo dos meus trabalhos, desde as tecnologias que estou a aprender 
            até aos desafios que resolvi com código. 
            O meu objetivo é aplicar os conhecimentos teóricos 
 em projetos práticos, focando-me sempre na aprendizagem e na melhoria contínua.
        </p>
    </section>

    <hr>
    
    {% endblock content %}
    <hr>
    